.conteneur{
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.MySecret{
    padding: 10px;
    position: relative;
    background-color: #F4429D;
    width:90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 150px;
    border-radius: 15px;
}


.Secret{
    color:black;
    padding: 10px;
    position: relative;
    background-color: white;
    width:90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 150px;
    border-radius: 15px;
}