<div class="conteneur">
    <div class="MySecret">
        {{ connectedUser.secret }}
    </div>

    <div class="Secret" *ngFor="let proposition of propositions; let i = index" >
         <p>"{{ proposition.user_secret.secret }}"</p>



       
        <p-floatLabel>
            <p-dropdown 
                [options]="users" 
                [(ngModel)]="proposition.user_selected" 
                optionLabel="prenom" 
                [showClear]="true"
                placeholder="Ce secret appartient à ..." 
                (onChange)="saveProposition(proposition)"
                >
            </p-dropdown>
            <label for="float-label">Sélectionnez un utilisateur</label>
        </p-floatLabel>


    </div>
</div>
