
 
            <form class="controle_form_connexion" (submit)="connexion()">
                <div class="card flex flex-wrap justify-content-center gap-3">
                    <span class="p-float-label">
                        <input pInputText id="username" [(ngModel)]="username" placeholder="Entrez votre nom d'utilisateur" name="username" />
                        <label htmlFor="username">Nom d'utilisateur :</label>
                    </span>
 
 
                </div>
                <div class="card flex flex-wrap justify-content-center gap-3">
                    <span class="p-float-label">
                        <p-password id="password" [(ngModel)]="password" name="password" [feedback]="false" placeholder="Entrez votre mot de passe" [toggleMask]="true"></p-password>
                        <label htmlFor="password">Mot de passe :</label>
                    </span>
                </div>
                <div class="card flex justify-content-center">
                   
                    <p-button type="submit" label="Connexion" [loading]="loading" ></p-button>
                </div>
            </form>
