
<div class="container">
        
    <img class="logo" src="../../../assets/logo.png" alt="Secret Story Logo">

   
    <form class="form-container">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" [(ngModel)]="username" id="username" name="username" required>
        
        <label for="password">Mot de passe :</label>
        <input type="password" [(ngModel)]="password"  id="password" name="password" required>
        
        <button type="submit" (click)="connexion()" class="button pink-button">Connexion</button>
    </form>

    <button class="retour" (click)="retour()">< Retour</button>
</div>
