<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Story - Accueil</title>
    <link rel="stylesheet" href="home.component.css">
    <link href="https://fonts.cdnfonts.com/css/aachen" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img class="logo" src="../../../assets/logo.png" alt="Secret Story Logo">
        <div class="button-container">
            <a href="Secret2.html" class="button pink-button">Connexion</a>
            <a href="Secret3.html" class="button blue-button">Créer un compte</a>
        </div>
    </div>
</body>
</html>