.subheader{
    width: 100%;
    position: absolute;
    display: flex;
    padding:20px;
    justify-content: space-around;
}

.activeBtn{
    background-color: #F4429D;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    border-style: none;
    color:white; 
    font-size: 1.5em;
}

.unactiveBtn{
    background-color: #ffbddf;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    border-style: none;
    color:white; 
    font-size: 1.5em;
}

.centrepage{
    margin-top:100px;
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
}