
    <div class="container">
        <img class="logo" src="../../../assets/logo.png" alt="Secret Story Logo">
        <link rel="stylesheet" href="signon.component.css">
        <link href="https://fonts.cdnfonts.com/css/aachen" rel="stylesheet">
        <form class="form-container">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="button pink-button">Connexion</button>
        </form>
    </div>
