<div class="container">
    <img class="logo" src="../../../assets/logo.png" alt="Secret Story Logo">
    <form class="form-container" (ngSubmit)="signOn()">
        <label for="prenom">Prénom:</label>
        <input type="text" [(ngModel)]="prenom" name="prenom" id="prenom" />

        <label for="nom">Nom :</label>
        <input type="text" [(ngModel)]="nom" name="nom" id="nom" required>
        
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" [(ngModel)]="username" name="username" id="username" required>

        <label for="password">Mot de passe :</label>
        <input type="password" [(ngModel)]="password" name="password" id="password" required>
        
        <label for="secret">Secret :</label>
        <textarea rows="5" cols="30" [(ngModel)]="secret" name="secret" id="secret" required></textarea>
        
        <button type="submit" class="button pink-button">Créer mon compte</button>
    </form>

    <button class="retour" (click)="retour()">< Retour</button>
</div>
